<ion-view view-title="Search">
  <ion-content class="padding">
  	<h3 id="title2">Track Document</h3>



<content has-header="true" padding="true" scroll="false">
      <button class="button button-block button-positive">
      	Sample Button
    	</button>
      <div style="height:250px">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Track a document" ng-model="searchText">
        </label>
        <scroll direction="y">          
        <ul class="list">      
          <li ng-repeat="data in tracking | filter:searchText">{{data.trackingNo}}</li>          
      </ul> 
    </scroll>      
    </content>
  </ion-content>
</ion-view>