<ion-view view-title="Search">
  <ion-content class="padding">
  	<h3 id="title2">Track Document</h3>
	<div class="list list-inset">

		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Track a document">
		</label>
	</div>

	<ul class="list" ng-repeat="x in tracking">
		<li class="item">Tracking Number</li>
		<li class="item">{{x.trackingNo}}</li>
		<li class="item">Document Type</li>
		<li class="item">{{x.docType}}</li>
		<li class="item">Status of Document</li>
		<li class="item">{{x.status}}</li>
	</ul>

	<ul class="list" ng-repeat="x in tracking">
		<li class="item">Date</li>
		<li class="item">{{x.date}}</li>
		<li class="item">Document Type</li>
		<li class="item">{{x.docType}}</li>
		<li class="item">Status of Document</li>
		<li class="item">{{x.status}}</li>
		<li class="item">Location</li>
		<li class="item">{{x.location}}</li>
	</ul>
	
  </ion-content>
</ion-view>