<ion-view view-title="Track">
  <ion-content class="padding">
  	<button ng-click="logout()">Logout</button>
  	<h3 id="title2">Track Document</h3>
	<div class="list list-inset">

		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" placeholder="Track a document">
		</label>
	</div>
	<div class="list">
		<div class="item item-divider">Tracking Number</div>
		<div class="item item-divider">000000000000000</div>
		<div class="item item-divider">Origin: Procurement Unit</div>
	</div>
	
	<ul class="list">
		<li class="item">Date</li>
		<li class="item">January 1, 2000, 06:00:00 AM</li>
		<li class="item">Document Type</li>
		<li class="item">Purchase Request</li>
		<li class="item">Status of Document/Location</li>
		<li class="item">For Signature/Accounting</li>
	</ul>
	
  </ion-content>
</ion-view>
